@charset "shift_jis";

/* -- 以下は削除不可 変更は可能です -- */
#footer #csslink a,
#footer #csslink a:hover { text-decoration: none; }

/* -- 変更可能部分 配置とサイズ -- */
#footer #csslink {
  text-align: right;
  font-size: 80%;
  margin: 0;
  padding: 0 20px 5px 0;
}

/* -- 変更可能部分 色 -- */
#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { color: #669900; }

#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { background-color: #336600; }

/*----------------------------------------------------------
  レイアウト関係
----------------------------------------------------------*/

/*---------------------------------フォントサイズなど*/
body {
  text-align: center;
  font-size: 85%;
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3" sans-serif;
  margin: 0;
  padding: 0;
}

/*---------------------------------ページ全体の横幅*/
#wrapper {
  text-align: left;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid #336600;
}

/*---------------------------------ヘッダー部分*/
#header {
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 5px 20px;
  background-color: #336600;
  color: #ffffff;
}

/*---------------------------------メニュー部分*/
#munu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/*---------------------------------コンテンツ部分*/
#contents {
  margin: 20px 20px 20px 20px;
  padding: 0px 0px 0px 0px;
}

/*---------------------------------フッター部分*/
#footer {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #336600;
  color: #ffffff;
}

/*----------------------------------------------------------
  メニュー部分の指定
----------------------------------------------------------*/
#menu ul {
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

#menu li {
  display: inline;
  padding: 0px 0.5em 0px 0.5em;
  border-left: 1px solid #336699;
}

#menu li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #336600;
}

#menu li a:hover {
  text-decoration: underline;
  color: #ff0000;
  background-color: #336600;
}

/*----------------------------------------------------------
  ヘッダー内の指定
----------------------------------------------------------*/

/* -- 見出し -- */
h1 {
  font-size: 150%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

/*----------------------------------------------------------
  コンテンツ内の指定
----------------------------------------------------------*/
h2 {
  font-size: 120%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

h3 { }

h4 { }

h5 { }

h6 { }


table th:empty {
	background-color: #000;
}



table td:empty {
	background-color: #000;
}

td.Atable {
	background-color: #FADADA;
}

td.Btable {
	background-color: #DADAFA;
}
/* -- 文字 -- */

.error {
  font-size: 90%;
  color: #BB1850;
}

#sortable {
	background-color: #FFFF00;
}
p {
  margin: 0px 0px 0.5em 0px;
  padding: 0px;
  line-height: 1.5em;

}

#vpass{
	display: inline-block;
	width: 250px;
}

/* -- リスト -- */
#contents ul { }

#contents ol { }

#contents li { }

/*----------------------------------------------------------
  著作権表記
----------------------------------------------------------*/
#footer p {
  margin: 0px 0px 0px 0px;
  padding: 0.5em 0 0.5em 0;
}
